<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!-- Đăng ký Servlet và định tuyến URL -->
    <servlet>
        <servlet-name>ReadExcelServlet</servlet-name>
        <servlet-class>com.ltm.thiltm.controller.ReadExcelServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReadExcelServlet</servlet-name>
        <url-pattern>/read-excel</url-pattern>
    </servlet-mapping>
</web-app>